.k-main {
  position: relative;

  width: 100vw;
  height: 100vh;
  overflow: hidden;

  padding: 15px;

  background: white;
  color: black;

  .k-title {
    margin-left: 25px;
    margin-top: 7px;

    font-size: 30px;
    font-weight: 700;

    .port {
      font-size: 14px;
      display: inline-block;
    }
  }

  .k-buttons {
    position: absolute;
    top: 30px;
    right: 25px;

    a {
      display: inline-block;
      transition: background-color 0.3s;
      border-radius: 0.5*45px;
      padding: 10px 10px 5px;

      &:hover {
        background: rgba(0, 0, 0, 0.075);
      }
    }
  }

  .k-content {
    margin: 20px 20px 0 20px;
    max-height: 400px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 1px;
    }

    .empty {
      text-align: center;
    }

    .k-item {
      padding: 10px 20px;
      transition: background-color 0.3s;

      display: flex;
      align-items: center;

      .unicon {
        margin-right: 10px;
        height: 25px;
      }

      &:hover[data-isList] {
        background: rgba(0, 0, 0, 0.075);
        cursor: pointer;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    background: black;
    color: white;

    .unicon {
      filter: invert(1);
    }

    .k-buttons {
      a {
        &:hover {
          background: rgba(255, 255, 255, 0.15);
        }
      }
    }

    .k-list {
      .k-item {
        &:hover {
          background-color: rgba(255, 255, 255, 0.15);
        }
      }
    }
  }
}
